{
    "policies": {
      "AppAutoUpdate": false,
      "BackgroundAppUpdate": false,
      "Bookmarks": [
{% for item in setup_firefox_bookmarks %}
          {{ item | to_json }}{{ "," if not loop.last }}
{% endfor %}
      ],
      "BlockAboutAddons": false,
      "BlockAboutConfig": false,
      "BlockAboutProfiles": false,
      "BlockAboutSupport": false,
      "CaptivePortal": false,
      "Certificates": {
        "Install": ["/usr/local/share/ca-certificates/burpsuite_ca.der"]
      },
      "Cookies": {
        "Default": true,
        "AcceptThirdParty": "never",
        "RejectTracker": true,
        "BehaviorPrivateBrowsing": "reject"
      },
      "DefaultDownloadDirectory": "${home}/Downloads",
      "DisableBuiltinPDFViewer": false,
      "DisableDeveloperTools": false,
      "DisableFeedbackCommands": true,
      "DisableFirefoxAccounts": true,
      "DisableFirefoxStudies": true,
      "DisablePocket": true,
      "DisableTelemetry": true,
      "DisplayBookmarksToolbar": "always",
      "DisplayMenuBar": "never",
      "DNSOverHTTPS": {
        "Enabled": false
      },
      "DontCheckDefaultBrowser": true,
      "DownloadDirectory": "${home}/Downloads",
      "EnableTrackingProtection": {
        "Value": true,
        "Cryptomining": true,
        "Fingerprinting": true,
        "Exceptions": ["*.htb"]
      },
      "Extensions": {
        "Install": [
{% for item in setup_firefox_plugins %}
          "https://addons.mozilla.org/firefox/downloads/latest/{{ item }}/latest.xpi"{{ "," if not loop.last }}
{% endfor %}
        ]
      },
      "ExtensionSettings": {
        "*": {
          "installation_mode": "allowed"
        }
      },
      "ExtensionUpdate": true,
      "AllowPrivateBrowsing": true,
      "FirefoxHome": {
        "Search": true,
        "TopSites": false,
        "SponsoredTopSites": false,
        "Highlights": false,
        "Pocket": false,
        "SponsoredPocket": false,
        "Snippets": false
      },
      "FirefoxSuggest": {
        "WebSuggestions": false,
        "SponsoredSuggestions": false,
        "ImproveSuggest": false
      },
      "HardwareAcceleration": true,
      "Homepage": {
        "URL": "homepage",
        "StartPage": "homepage"
      },
      "PasswordManagerEnabled": false,
      "NoDefaultBookmarks": true,
      "OfferToSaveLogins": false,
      "OfferToSaveLoginsDefault": false,
      "PDFjs": {
        "Enabled": true,
        "EnablePermissions": true
      },
      "Permissions": {
        "Camera": {
          "BlockNewRequests": true
        },
        "Microphone": {
          "BlockNewRequests": true
        },
        "Location": {
          "BlockNewRequests": true
        },
        "Notifications": {
          "BlockNewRequests": true
        },
        "Autoplay": {
          "Default": "block-audio"
        }
      },
      "PopupBlocking": {
        "Default": false
      }
    }
  }
  