---
- name: "Kali Environment"
  hosts: localhost
  become: true

  roles:
    - user
    - packages
    - dotfiles
    - settings
    - chrome
    - burpsuite

  tasks:
    - name: "Prompt for reboot"
      ansible.builtin.pause:
        prompt: "Would you like to reboot the system now? (y/N)"
      register: reboot

    - name: "Reboot system"
      ansible.builtin.shell: "nohup -- sh -c 'sleep 3; reboot' &"
      async: 0
      poll: 0
      when: reboot.user_input == 'y'
      changed_when: false
