---
- name: "[user] Request username"
  ansible.builtin.pause:
    prompt: "Enter the new username (leave blank to skip)"
  register: "user_name"
  tags:
    - user

- name: "[user] Request password"
  ansible.builtin.pause:
    prompt: "Enter the new password (leave blank to skip)"
    echo: false
  register: "user_pass"
  tags:
    - user

- name: "[user] Get current username"
  ansible.builtin.command: |
    id -nu 1000
  register: user_current
  when: "user_name.user_input != ''"
  changed_when: false
  tags:
    - user

- name: "[user] Change username"
  ansible.builtin.shell: |
    set -o pipefail
    killall -w -u {{ user_current.stdout }} || true
    usermod -l {{ user_name.user_input }} {{ user_current.stdout }}
    usermod -d /home/{{ user_name.user_input }} -m {{ user_name.user_input }}
    groupmod -n {{ user_name.user_input }} {{ user_current.stdout }}
  when: "user_name.user_input != ''"
  changed_when: "user_name.user_input != user_current.stdout"
  tags:
    - user

- name: "[user] Change password"
  ansible.builtin.shell: |
    set -o pipefail
    echo "{{ user_name.user_input | default(user_current.stdout, true) }}:{{ user_pass.user_input }}" | chpasswd
  when: "user_pass.user_input != ''"
  changed_when: "user_pass.user_input != ''"
  tags:
    - user
