---
- name: "Clone dotfiles"
  ansible.builtin.git:
    repo: "https://github.com/NLXZ/dotfiles.git"
    dest: "{{ ansible_env.HOME }}/.dotfiles"
    clone: "yes"
    version: main

- name: "Remove .config directory from root"
  ansible.builtin.file:
    path: /root/.config
    state: absent
  become: true

- name: "Link dotfiles for root"
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/.dotfiles"
    dest: /root/.dotfiles
    state: link
  become: true

- name: "Set up dotfiles"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ ansible_env.USER }} -c 'stow -t $HOME -d $HOME/.dotfiles --adopt .'
    sudo -- su root -c 'stow -t $HOME -d $HOME/.dotfiles --adopt .'
  changed_when: false
  become: true

- name: "Set up NeoVim"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ ansible_env.USER }} -c '/usr/bin/nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
    sudo -- su root -c '/usr/bin/nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
  async: 30
  poll: 0
  changed_when: false
  become: true

- name: "Set up LightDM"
  ansible.builtin.copy:
    src: files/lightdm/
    dest: /etc/lightdm/
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up LightDM wallpaper"
  ansible.builtin.copy:
    src: ~/.wallpaper
    dest: /usr/share/wallpapers/wallpaper
    owner: "root"
    group: "root"
    mode: '644'
  become: true

- name: "Enable LightDM service"
  ansible.builtin.systemd:
    name: lightdm
    enabled: true
  become: true

- name: "Set up keyboard layout"
  ansible.builtin.lineinfile:
    path: /etc/default/keyboard
    regexp: '^XKBLAYOUT="us"$'
    line: 'XKBLAYOUT="es"'
  become: true

- name: "Set up Time Zone"
  ansible.builtin.shell: |
    timedatectl set-timezone Europe/Madrid
  changed_when: false
  become: true

- name: "Add user to docker group"
  ansible.builtin.user:
    name: "{{ ansible_env.HOME }}"
    groups: docker
    append: true
  become: true

- name: "Modify openvpn capabilities"
  ansible.builtin.shell: sudo setcap CAP_NET_ADMIN+ep/usr/sbin/openvpn
  changed_when: false
  become: true
