---
- name: "Download dotfiles"
  ansible.builtin.git:
    repo: "https://github.com/NLXZ/dotfiles"
    dest: "$HOME/.dotfiles"
    depth: 1
    version: "main"
    force: true
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - dotfiles

- name: "Stow user dotfiles"
  ansible.builtin.command: |
    stow -R -t $HOME -d $HOME/.dotfiles --adopt .
  changed_when: true
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - dotfiles

- name: "Stow root dotfiles"
  ansible.builtin.command: |
    stow -R -t $HOME -d /home/{{ lookup('pipe', 'id -nu 1000') }}/.dotfiles --adopt .
  changed_when: true
  tags:
    - dotfiles

- name: "Install neovim plugins"
  ansible.builtin.shell: |
    set -o pipefail
    cmd='nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
    sudo -- su {{ lookup('pipe', 'id -nu 1000') }} -c "$cmd"
    sudo -- su root -c "$cmd"
  changed_when: true
