---
- name: "Install Google Chrome"
  ansible.builtin.apt:
    deb: "https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb"
  become: true

- name: "Create Google Chrome config files"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop:
    - "/usr/share/chrome"
    - "/etc/opt/chrome/policies/recommended"
    - "/etc/opt/chrome/policies/managed"
  become: true

- name: "Set up Google Chrome preferences"
  ansible.builtin.copy:
    src: files/initial_preferences
    dest: /opt/google/chrome/initial_preferences
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up Google Chrome policies"
  ansible.builtin.copy:
    src: files/policies.json
    dest: /etc/opt/chrome/policies/recommended/policies.json
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up Google Chrome extensions"
  ansible.builtin.copy:
    src: files/extensions.json
    dest: /etc/opt/chrome/policies/managed/extensions.json
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up Google Chrome bookmarks"
  ansible.builtin.copy:
    src: files/bookmarks.html
    dest: /usr/share/chrome/bookmarks.html
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up Google Chrome profile"
  ansible.builtin.shell: |
    set -o pipefail
    Xvfb :99 -screen 0 1920x1080x24 &
    timeout 1 sh -c 'DISPLAY=:99 google-chrome --no-sandbox --disable-gpu' || true
  async: 0
  poll: 0
  changed_when: false

- name: "Set up Google Chrome extensions installation"
  ansible.builtin.copy:
    src: files/extensions
    dest: /tmp
    owner: "{{ lookup('env','USER') }}"
    group: "{{ lookup('env','USER') }}"
    mode: '755'

- name: "Install Google Chrome extensions"
  ansible.builtin.script: /tmp/extensions/setup.sh
  args:
    executable: /bin/bash
