---
- name: "Set up LightDM"
  ansible.builtin.copy:
    src: files/lightdm/
    dest: /etc/lightdm/
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Set up LightDM wallpaper"
  ansible.builtin.file:
    src: "{{ ansible_env.HOME }}/.dotfiles/.wallpaper"
    dest: /usr/share/wallpapers/wallpaper
    owner: "root"
    group: "root"
    mode: '644'
    state: link
  become: true

- name: "Enable LightDM service"
  ansible.builtin.systemd:
    name: lightdm
    enabled: true
  become: true

- name: "Set up keyboard layout"
  ansible.builtin.lineinfile:
    path: /etc/default/keyboard
    regexp: '^XKBLAYOUT="us"$'
    line: 'XKBLAYOUT="es"'
  become: true

- name: "Set up Time Zone"
  ansible.builtin.shell: |
    timedatectl set-timezone Europe/Madrid
  changed_when: false
  become: true

- name: "Add user to docker group"
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    groups: docker
    append: true
  become: true

- name: "Modify openvpn capabilities"
  ansible.builtin.command: setcap CAP_NET_ADMIN+ep /usr/sbin/openvpn
  become: true
