---
- name: "Clone dotfiles"
  ansible.builtin.git:
    repo: "https://github.com/NLXZ/dotfiles.git"
    dest: "/home/{{ ansible_user }}/.dotfiles"
    clone: "yes"
    version: main

- name: "Remove .config directory from root"
  ansible.builtin.file:
    path: /root/.config
    state: absent
  become: true

- name: "Link dotfiles for root"
  ansible.builtin.file:
    src: "/home/{{ ansible_user }}/.dotfiles"
    dest: /root/.dotfiles
    state: link
  become: true

- name: "Set up dotfiles"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ ansible_user }} -c 'stow -t $HOME -d $HOME/.dotfiles --adopt .'
    sudo -- su root -c 'stow -t $HOME -d $HOME/.dotfiles --adopt .'
  changed_when: false
  become: true

- name: "Set up NeoVim"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ ansible_user }} -c 'nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
    sudo -- su root -c 'nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
  async: 30
  poll: 0
  changed_when: false
  become: true
