---
- name: "Clone dotfiles"
  ansible.builtin.git:
    repo: "https://github.com/NLXZ/dotfiles.git"
    dest: "{{ lookup('env','HOME') }}/.dotfiles"
    clone: "yes"
    version: main

- name: "Remove .config directory from root"
  ansible.builtin.file:
    path: /root/.config
    state: absent
  become: true

- name: "Link dotfiles for root"
  ansible.builtin.file:
    src: "{{ lookup('env','HOME') }}/.dotfiles"
    dest: /root/.dotfiles
    state: link
  become: true

- name: "Set up dotfiles"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ lookup('env','USER') }} -c 'rm -rf $HOME/{.zshrc,.config}; stow -t $HOME -d $HOME/.dotfiles --adopt .'
    sudo -- su root -c 'rm -rf $HOME/{.zshrc,.config}; stow -t $HOME -d $HOME/.dotfiles --adopt .'
  changed_when: false
  become: true

- name: "Set up NeoVim"
  ansible.builtin.shell: |
    set -o pipefail
    sudo -- su {{ lookup('env','USER') }} -c 'nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
    sudo -- su root -c 'nvim --headless -c "autocmd User PackerComplete quitall" -c "PackerSync"'
  async: 30
  poll: 0
  changed_when: false
  become: true
