---
- name: "Deploy extension settings"
  ansible.builtin.template:
    src: "extensions.json.j2"
    dest: "/etc/opt/chrome/policies/managed/extensions.json"
    force: false
    owner: root
    group: root
    mode: '0644'
  tags:
    - chrome

- name: "Start Chrome (headless)"
  ansible.builtin.shell: |
    set -o pipefail
    Xvfb :99 -screen 0 1920x1080x24 & DISPLAY=:99 google-chrome --disable-gpu &
  async: 0
  poll: 0
  changed_when: false
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome

- name: "Wait for extensions to be installed"
  ansible.builtin.wait_for:
    path: "$HOME/.config/google-chrome/Default/Extensions/{{ item.id }}"
  loop: "{{ chrome_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome

- name: "Initialize extensions"
  ansible.builtin.shell: |
    set -o pipefail
    id="{{ item.id }}"
    dir="$HOME/.config/google-chrome/Default/Extensions"
    url=$(find "$dir/$id" -name "options.html" | cut -d"/" -f10-)
    google-chrome "chrome-extension://$id/$url"
  changed_when: false
  loop: "{{ chrome_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome

- name: "Wait for extensions to be initialized"
  ansible.builtin.wait_for:
    path: "$HOME/.config/google-chrome/Default/Local Extension Settings/{{ item.id }}"
  loop: "{{ chrome_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome

- name: "Stop Chrome"
  ansible.builtin.command: "killall -w chrome Xvfb"
  register: chrome_stop
  changed_when: "chrome_stop.rc == 0"
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome

- name: "Copy extensions configuration"
  ansible.builtin.copy:
    src: files/extensions
    dest: /tmp
    owner: "{{ lookup('pipe', 'id -nu 1000') }}"
    group: "{{ lookup('pipe', 'id -nu 1000') }}"
    mode: '755'
  tags:
    - chrome

- name: "Configure extensions"
  ansible.builtin.shell: |
    set -o pipefail
    cd /tmp/extensions
    npm install level
    node chrome_ext.js config/{{ item.name }}.json {{ item.id }}
  changed_when: false
  loop: "{{ chrome_extensions }}"
  loop_control:
    label: "{{ item.name }}"
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
  tags:
    - chrome
