---
- name: "[chrome] Create configuration directories"
  ansible.builtin.file:
    path: "{{ item.dest | dirname }}"
    state: directory
    mode: '0755'
  loop: "{{ chrome_files }}"
  loop_control:
    label: "{{ item.dest | dirname }}"
  tags:
    - chrome

- name: "[chrome] Set up configuration"
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '644'
    force: false
  loop: "{{ chrome_files }}"
  loop_control:
    label: "{{ item.dest }}"

- name: "[chrome] Create user profile"
  ansible.builtin.shell: |
    set -o pipefail
    Xvfb :99 -screen 0 1920x1080x24 &
    timeout 1 sh -c 'DISPLAY=:99 google-chrome --no-sandbox --disable-gpu' &
  async: 5
  poll: 0
  changed_when: false
  tags:
    - chrome
  become: true
  become_user: "{{ lookup('pipe', 'id -nu 1000') }}"
