---
- name: "Create configuration directories"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: '0755'
  loop: "{{ chrome_directories }}"
  loop_control:
    label: "{{ item }}"
  tags:
    - chrome

- name: "Deploy configuration files"
  ansible.builtin.copy:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: root
    group: root
    mode: '644'
  loop: "{{ chrome_files }}"
  loop_control:
    label: "{{ item.dest }}"
  tags:
    - chrome
