---
- name: "Configure LightDM"
  ansible.builtin.copy:
    src: files/lightdm/
    dest: /etc/lightdm/
    owner: root
    group: root
    mode: '644'
  tags:
    - settings

- name: "Configure wallpaper"
  ansible.builtin.copy:
    src: "/root/.wallpaper"
    dest: /usr/share/wallpapers/wallpaper
    follow: true
    remote_src: true
    owner: root
    group: root
    mode: '644'
  tags:
    - settings

- name: "Configure skel"
  ansible.builtin.copy:
    src: "/root/.zshrc"
    dest: /etc/skel/.zshrc
    remote_src: true
    follow: true
    owner: root
    group: root
    mode: '644'
  tags:
    - settings

- name: "Set keyboard layout"
  ansible.builtin.lineinfile:
    path: /etc/default/keyboard
    regexp: '^XKBLAYOUT="us"$'
    line: 'XKBLAYOUT="es"'
  tags:
    - settings

- name: "Set time zone"
  ansible.builtin.shell: |
    timedatectl set-ntp 0
    timedatectl set-timezone Europe/Madrid
  changed_when: false
  tags:
    - settings

- name: "Add user to Docker group"
  ansible.builtin.user:
    name: "{{ lookup('pipe', 'id -nu 1000') }}"
    groups: docker
    append: true
  tags:
    - settings

- name: "Modify openvpn capabilities"
  ansible.builtin.command: setcap CAP_NET_ADMIN+ep /usr/sbin/openvpn
  register: settings_capabilities
  changed_when: settings_capabilities.rc == 0
  tags:
    - settings
