---
- name: "Launch BurpSuite in headless mode"
  ansible.builtin.shell: |
    set -o pipefail
    bash -c 'yes y | bash <(cat $(which burpsuite) | sed "s/-jar/-Djava.awt.headless=true -jar/")' &
  async: 30
  poll: 0
  changed_when: false

- name: "Wait for BurpSuite to start"
  ansible.builtin.wait_for:
    port: 8080
    host: 127.0.0.1
    state: started

- name: "Download BurpSuite certificate"
  ansible.builtin.get_url:
    url: "http://127.0.0.1:8080/cert"
    dest: "/tmp/cacert.der"
    owner: "{{ ansible_facts['user'] }}"
    group: "{{ ansible_facts['user'] }}"
    mode: '644'
  register: setup_burpsuite_result
  retries: 5
  delay: 3
  until: setup_burpsuite_result.status_code == 200

- name: "Copy certificate to /usr/local/share/ca-certificates/"
  ansible.builtin.copy:
    src: /tmp/cacert.der
    dest: /usr/local/share/ca-certificates/burpsuite_ca.der
    owner: root
    group: root
    mode: '644'
  become: true

- name: "Install certificate"
  ansible.builtin.command: certutil -d sql:/home/{{ ansible_facts['user'] }}/.pki/nssdb -A -t "C,," -n "BurpSuite_CA" -i /usr/local/share/ca-certificates/burpsuite_ca.der
  register: setup_burpsuite_intall_certificate
  changed_when: setup_burpsuite_intall_certificate.rc != 0
